body {
   
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  
  p {
    font-size: 16px;
    margin: 0;
  }
  
  #containt {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  #acceuil {
    margin-bottom: 20px;
  }
  
  #medias {
    text-align: center;
    margin-top: 50px;
}

#medias img {
    max-width: 100%;
    height: 1000%;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
