/* Caracteristique de la page entiere*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* l'entete de la page */
header {
    background-color: #333;
    color: #fafafa;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-top: 20px;
    margin-bottom: 0%;
    font-size: 36px;
    position: static;
}

nav {
    background-color: #333;
    width: 100%;
    top: 0;
    left: 0;
}
    
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav li {
    float: left;

}

.lien {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.lien:hover {
    background-color: #111;
}


#projets {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
}

h1 {
    text-align: center;
}